.todoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 12rem;
}

.form {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    background-color: white;
}

.input::placeholder {
    font-size: 1.2rem;
    color: var(--text-color-primary);
}
.input:focus {
    outline: none;
}

.easeIn {
    opacity: 0.01;
    transform: translateX(5rem)
}
  
.easeIn.easeIn-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transform: translateX(0)
}
  
.easeIn-leave {
    opacity: 1;
}
  
.easeIn-leave.easeIn-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}