.todoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 12rem;
}

.form {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    background-color: white;
}

.input::placeholder {
    font-size: 1.2rem;
    color: var(--text-color-primary);
}
.input:focus {
    outline: none;
}

.fade-enter {
    opacity: 0;
    transform: translateX(6rem);
}
  
.fade.fade-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
    transform: translateX(0);
}
  
.fade-leave {
    opacity: 1;
    transform: translateX(0); 
}
.fade-leave.fade-leave-active {
    opacity: 0;
    transition: all 300ms ease-in;
    transform: translateX(6rem);
}
.transitioner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 900px) { 
    .todoWrapper {
        padding: 2rem 4rem;
    }
}