.todo {
    padding: 0.2rem 2rem;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
    position: relative;
}

.todo__done-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.5px solid #e0e0e0;
}

.todo__task {
    color: var(--text-color-primary);
    font-size: 1.5rem;
}

.todo__delete-icon {
    font-size: 1.5rem;
    color: #e57373;
}