.todo {
    padding: 0.02rem 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;
    cursor: pointer;
    word-break: break-word;
    user-select: none;
}

.todo__done-icon{
    font-size: 1.5rem;
    color:#9e9e9e;
    cursor: pointer;
}
.todo__check-icon {
    color: white;
    font-size: 1.4rem;
}
.todo__task {
    color: var(--text-color-primary);
    font-size: 1.4rem;
    padding: 0 2rem;
}

.todo__delete-icon {
    font-size: 1.4rem;
    color: #e57373;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0;
}

.todo:hover .todo__delete-icon{
    opacity: 1;
}

.completed {
    text-decoration-line: line-through;
    color: var(--text-color-tertiary);
}
.todo-complete {
    background-color: var(--color-primary);
}
