html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

:root {
  --text-color-primary: #616161;
  --text-color-secondary: white;
  --text-color-tertiary: white;
  --color-primary: #4a148c;
  --color-tertiary: #9c27b0;
  --bg-color:  #183048;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--color-tertiary);
}
.light-theme {
  --text-color-primary: #212121;
  --text-color-secondary: #424242;
  --color-tertiary: #000000;
  --bg-color:  #e0e0e0;
}