html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

:root {
  --text-color-primary: #757575;
  --text-color-secondary: #bdbdbd;
  --color-primary: #4a148c;

}